extends layout

block content
  head
    meta(http-equiv='refresh', content='10')
  body.bc
  .container.deisBlue
    br
    h1.fontCenter.white.bold Louis' Deli
    p.fontCenter.white Online order form for students
    p.fontCenter.white *Orders are made first come first serve
    br
  br
  br
  .container.deisBlue
    br
    h1.fontCenter.white.bold.underline Orders In Progress
    br
    h3.white.underline Model Guide:
    table.white
      tr
        th Order Time
        th Sandwich
        th Hot Dog
        th Bread
        th Toppings
        th Condiments
    br
    form(method="post" action="moveOrderPickUp")
      ol.white
        each m in activeOrder
          li
            input(name="orderID" value=m._id type="checkbox")
            e  #{m.customer} | #{m.email}
            table
              tr
                th #{m.time}
                th #{m.sandwich}
                th #{m.hotdog}
                th #{m.bread}
                th #{m.toppings}
                th #{m.condiments}
            br
          br
        input(type="submit")
        hr
