extends layout

block content
  body.bc
  .container.deisBlue
    br
    h1.fontCenter.white.bold Louis' Deli
    p.fontCenter.white Online order form for students
    p.fontCenter.white *Orders are made first come first serve
    br
  br
  br
  .container.deisBlue
    br
    h1.fontCenter.white.bold.underline Orders In Progress
    br
    h3.white.underline Model Guide:
    table.white
      tr
        th Customer
        th Email
      tr
        th Sandwich
        th Hot Dog
        th Bread
        th Toppings
        th Condiments
    br
    ol.white
      each m in activeOrder
        li
          table
            tr
              th #{m.customer}
              th #{m.email}
            tr
              th #{m.sandwich}
              th #{m.hotdog}
              th #{m.bread}
              th #{m.toppings}
              th #{m.condiments}
          //e #{m.customer} | #{m.email} | #{m.sandwich} | #{m.hotdog} | #{m.bread} | #{m.toppings} | #{m.condiments}
          br
        br
      hr
