extends layout

block content
  body.bc
  .container.deisBlue
    br
    h1.fontCenter.white.bold Louis' Deli
    p.fontCenter.white Online order form for students
    p.fontCenter.white *Orders are made first come first serve
    br
  br
  br
  .container.deisBlue
    br
    h1.fontCenter.white.bold.underline Pick Up
    br
    form(method="post" action="completeOrder")
      ol.white
        each m in activeOrder
          li
            input(name="orderID" value=m._id type="checkbox")
            e  #{m.customer} | #{m.email}
            table
              tr
                th #{m.sandwich}
                th #{m.hotdog}
                th #{m.bread}
                th #{m.toppings}
                th #{m.condiments}
            //e #{m.customer} | #{m.email} | #{m.sandwich} | #{m.hotdog} | #{m.bread} | #{m.toppings} | #{m.condiments}
            br
          br
        input(type="submit")
        hr
