extends layout

block content
  .container.deisBlue
    br
    h1.white #{user.googlename}
    ul.white
      li
        | email: #{user.googleemail}
    hr
    h2.white Previous Orders
    ol.white
      each m in activeOrder
        li
          e #{m.date} | #{m.time}
          br
          table
            tr
              th #{m.sandwich}
              th #{m.hotdog}
              th #{m.bread}
              th #{m.toppings}
              th #{m.condiments}
          br
      br
    hr
    br
