extends layout

block content
  .container.deisBlue
    br
    h1.white #{user.googlename}
    ul.white
      li
        | email: #{user.googleemail}
    //img(id='image', alt='Picture')
    img(src='https://pikmail.herokuapp.com/mkleung@brandeis.edu?size=300', alt='Profile Picture')
    hr
    h2.white Previous Orders
    ol.white
      each m in activeOrder
        li
          e #{m.date} | #{m.time}
          br
          table
            tr
              th #{m.sandwich}
              th #{m.hotdog}
              th #{m.bread}
              th #{m.toppings}
              th #{m.condiments}
          br
      br
    hr
    br
  script.
    var pic = "https://pikmail.herokuapp.com/"+ #{user.googleemail}+ "?size=100";
    var pic2 = "https://pikmail.herokuapp.com/michaelleung360@gmail.com?size=100";
    document.getElementById("userpic").value = pic;
    document.getElementById("image").src = pic2;
